@charset "UTF-8";
/*Partie loader*/
/*Site et général*/
/*animation des plats*/
/*        Partie loader       */
/*        Règles pages       */
/*Configuration des boutons*/
/*centrage des éléments flex*/
/*Coeurs*/
/*footer*/
/*logo*/
/*Overflow pour les intitulés menu*/
/* PARTIE PRINCIPALE DU SITE APRES LE LOADER*/
/*Coeur qui se remplit*/
@keyframes like {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*apparition en décalé des plats*/
@keyframes apparition {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*validation des plats*/
@keyframes dash-validation {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes dash-validation-530 {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes dash-validation-720 {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes dash-validation-980 {
  0% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(0px);
  }
}
/*décalage du overflow petits écrans*/
@keyframes overflow {
  0% {
    width: 100%;
  }
  25% {
    width: 98%;
  }
  50% {
    width: 96%;
  }
  75% {
    width: 94%;
  }
  100% {
    width: 92%;
  }
}
/*Partie loader*/
/*lancement du loader*/
@keyframes launching {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    transform: scale(0.75);
    z-index: 2;
  }
  99% {
    z-index: 2;
    transform: scale(0.25);
  }
  100% {
    opacity: 0;
    z-index: -1;
    transform: scale(0);
  }
}
/*Lettres qui tournent*/
@keyframes lettre {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
    color: #9356dc;
  }
}
/*Rotation image*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    height: 1.5em;
  }
  100% {
    transform: rotate(360deg);
    height: 1.5em;
  }
}
/*point de loading*/
@keyframes loading-point {
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/*barre de défilement*/
@keyframes bar-loading {
  0% {
    transform: translateX(0) scale(0.2, 4);
  }
  25% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(2.2, 0.8);
  }
  100% {
    transform: translateX(300px) scale(1, 3);
  }
}
@keyframes hide-bloc-page {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*loader*/
/*container loader*/
.container-loader {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  top: 40%;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  animation: launching 6s forwards;
  z-index: 2;
  background-color: #f6f6f6;
  text-align: center;
}

/*bloc image et logo du loader*/
.loader-top {
  font-size: 2em;
  font-family: "shrikhand";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/*Lettres*/
.title-letter {
  display: inline-block;
  font-family: "shrikhand";
  animation: lettre 1s ease-in-out forwards;
  color: white;
}
.title-letter--1 {
  animation-delay: 1s;
}
.title-letter--2 {
  animation-delay: 2s;
}
.title-letter--3 {
  animation-delay: 3s;
}

/*image loader*/
.loader-img {
  margin-right: 30px;
  animation: rotation 1s 1s ease-in-out 3;
  height: 1.5em;
}

/*loading...*/
.loader-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  font-size: 1em;
  font-style: italic;
  color: #99e2d0;
  max-width: 350px;
  position: relative;
}

.loading__point {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #99e2d0;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  transform: scale(0);
  animation: loading-point 0.2s forwards;
  animation-iteration-count: 1;
}
.loading__point--1 {
  animation-delay: 1s;
}
.loading__point--2 {
  animation-delay: 2s;
}
.loading__point--3 {
  animation-delay: 3s;
}

/*barre dessous*/
.border-bar {
  width: 350px;
  height: 20px;
  transform-origin: left;
  position: relative;
  left: 8%;
}
.border-bar--loading {
  width: 20px;
  height: 3px;
  background-color: #ff79da;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: right;
  animation: bar-loading 0.5s 0s ease-in alternate-reverse infinite;
  border-radius: 30%;
}

.bloc-for-loader {
  animation: hide-bloc-page 5.5s forwards;
}

/*Partie menu*/
/*header*/
/*dimensions logo et bouton retour pour chaque menu*/
.logo--menu {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 980Px) {
  .logo--menu {
    height: 100px;
  }
}
.logo--menu .back-btn {
  position: absolute;
  left: 23px;
}
@media screen and (min-width: 980px) {
  .logo--menu .back-btn {
    font-size: 1.5em;
  }
}
.logo--menu img {
  height: 1.5em;
}
@media screen and (min-width: 980Px) {
  .logo--menu img {
    height: 2.3em;
  }
}

.menu--img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 530px) {
  .menu--img {
    height: 280px;
  }
}
@media screen and (min-width: 720px) {
  .menu--img {
    height: 300px;
  }
}
@media screen and (min-width: 980px) {
  .menu--img {
    height: 350px;
  }
}

/*Partie centrale*/
/*Style du bloc global*/
main {
  background-color: #f6f6f6;
  border-radius: 55px 55px 0px 0px;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 980px) {
  main {
    border-radius: 0;
    margin-top: 0;
  }
}
main h3,
main p {
  font-size: 1em;
}
@media screen and (min-width: 980px) {
  main h3,
main p {
    font-size: 1.3em;
  }
}

/*Intitulé de la carte*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-left: 10px;
}
.main-header .title-menu {
  font-family: "shrikhand";
  font-size: 1.8em;
}
@media screen and (min-width: 980px) {
  .main-header .title-menu {
    font-size: 2.4em;
  }
}
.main-header .icon-heart {
  font-size: 1.4em;
}
@media screen and (min-width: 980px) {
  .main-header .icon-heart {
    font-size: 1.8em;
  }
}

/*Catégories entrées-plats-desserts*/
section {
  width: 95%;
  display: flex;
  flex-direction: column;
}
section h2 {
  margin-left: 10px;
  margin-top: 35px;
  font-size: 1em;
}
@media screen and (min-width: 980px) {
  section h2 {
    font-size: 1.5em;
    align-self: center;
  }
}

.underline-bar {
  margin-bottom: 25px;
  margin-left: 10px;
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}
@media screen and (min-width: 980px) {
  .underline-bar {
    align-self: center;
    width: 100px;
  }
}

.item-delay {
  opacity: 0;
  animation: apparition 1.8s forwards;
}
.item-delay--1 {
  animation-delay: 0.3s;
}
.item-delay--2 {
  animation-delay: 0.6s;
}
.item-delay--3 {
  animation-delay: 0.9s;
}
.item-delay--4 {
  animation-delay: 1.2s;
}
.item-delay--5 {
  animation-delay: 1.5s;
}
.item-delay--6 {
  animation-delay: 1.8s;
}
.item-delay--7 {
  animation-delay: 2.1s;
}
.item-delay--8 {
  animation-delay: 2.4s;
}
.item-delay--9 {
  animation-delay: 2.7s;
}
.item-delay--10 {
  animation-delay: 3s;
}
.item-delay--11 {
  animation-delay: 3.3s;
}
.item-delay--12 {
  animation-delay: 3.6s;
}
.item-delay--13 {
  animation-delay: 3.9s;
}
.item-delay--14 {
  animation-delay: 4.2s;
}

/*composition des plats*/
.menu-statement {
  width: 100%;
  height: 90px;
  display: flex;
  margin-bottom: 18px;
  background-color: #fff;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px #eaeaea;
  overflow: hidden;
}
.menu-statement:hover {
  cursor: pointer;
}
@media screen and (max-width: 420px) {
  .menu-statement:hover .dash-description {
    animation: overflow 0.6s 0.2s forwards;
  }
}
.menu-statement:hover > .dash-slide {
  animation: dash-validation 0.6s ease-in-out forwards;
}
.menu-statement:hover > .dash-slide .dash-slide--animation--circle {
  transform: rotate(1turn);
  transition: transform 0.7s ease-in-out;
}
@media screen and (min-width: 530px) {
  .menu-statement:hover > .dash-slide {
    animation: dash-validation-530 0.6s ease-in-out forwards;
  }
  .menu-statement:hover > .dash-slide .dash-slide--animation--circle {
    transform: rotate(1turn);
    transition: transform 0.7s ease-in-out;
  }
}
@media screen and (min-width: 720px) {
  .menu-statement:hover > .dash-slide {
    animation: dash-validation-720 0.6s ease-in-out forwards;
  }
  .menu-statement:hover > .dash-slide .dash-slide--animation--circle {
    transform: rotate(1turn);
    transition: transform 0.7s ease-in-out;
  }
}
@media screen and (min-width: 980px) {
  .menu-statement:hover > .dash-slide {
    animation: dash-validation-980 0.6s ease-in-out forwards;
  }
  .menu-statement:hover > .dash-slide .dash-slide--animation--circle {
    transform: rotate(1turn);
    transition: transform 0.7s ease-in-out;
  }
}
.menu-statement .dash {
  display: flex;
  flex-direction: column;
  width: calc(100% - 135px);
  padding-left: 15px;
}
@media screen and (min-width: 530px) {
  .menu-statement .dash {
    width: calc(100% - 160px);
  }
}
@media screen and (min-width: 720px) {
  .menu-statement .dash {
    width: calc(100% - 200px);
  }
}
@media screen and (min-width: 980Px) {
  .menu-statement .dash {
    width: calc(100% - 280px);
  }
}
.menu-statement h3 {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -30px;
}
.menu-statement p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -30px;
}

.dash-slide {
  display: flex;
  width: 120px;
  height: 100%;
  transform: translateX(60px);
  overflow: hidden;
}
@media screen and (min-width: 530px) {
  .dash-slide {
    width: 160px;
    transform: translateX(80px);
  }
}
@media screen and (min-width: 720px) {
  .dash-slide {
    width: 200px;
    transform: translateX(100px);
  }
}
@media screen and (min-width: 980Px) {
  .dash-slide {
    width: 280px;
    transform: translateX(60%);
  }
}

.dash-price {
  width: 50%;
  height: 100%;
  margin-top: 55px;
  font-weight: bold;
}
@media screen and (min-width: 530px) {
  .dash-price {
    text-align: center;
  }
}

.dash-slide--animation {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
}

.fa-check-circle {
  height: 1.1em;
  color: white;
}

/*bouton commander*/
.btn--command {
  margin-top: 50px;
  margin-bottom: 65px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

/*Partie page accueuil qui servira de base de travail pour la mise en place des menus*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 1px 3px 2px #cecece;
}
@media screen and (min-width: 980Px) {
  .logo {
    height: 100px;
  }
}
@media screen and (min-width: 980Px) {
  .logo {
    height: 100px;
  }
}
.logo img {
  height: 1.5em;
}
@media screen and (min-width: 980Px) {
  .logo img {
    height: 2.3em;
  }
}

.localisation {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eaeaea;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 980Px) {
  .localisation {
    height: 75px;
  }
}
.localisation input {
  outline: none;
  background-color: #eaeaea;
  border: none;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  width: 150px;
}
@media screen and (min-width: 980Px) {
  .localisation input {
    font-size: 1.3em;
    width: 250px;
  }
}
.localisation input:focus {
  border: 1px solid #fff;
  border-radius: 5px;
}
.localisation input i {
  margin-right: 16px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 237px;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 40px;
}
.presentation h1 {
  width: 61%;
  font-size: 1.3em;
}
@media all and (min-width: 630px) {
  .presentation h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 980Px) {
  .presentation h1 {
    font-size: 2em;
  }
}
.presentation h3 {
  margin-top: 0;
  width: 81%;
  font-weight: 100;
  font-size: 1em;
  margin-bottom: 30px;
}
@media all and (min-width: 630px) {
  .presentation h3 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 980Px) {
  .presentation h3 {
    font-size: 1.3em;
  }
}

.btn {
  width: 60%;
  color: white;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 2px 2px 4px 2px #cfcfcf;
}
.btn:hover {
  background-image: linear-gradient(to top left, #a978e3, #ff8de0);
  box-shadow: 2px 2px 10px 10px #cfcfcf;
}
@media screen and (min-width: 630px) {
  .btn {
    max-width: 300px;
  }
}
@media screen and (min-width: 980Px) {
  .btn {
    max-width: 350px;
  }
}

nav {
  width: 100%;
  height: 440px;
}
nav h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 5%;
}
@media all and (min-width: 730px) {
  nav h2 {
    margin-left: 2.5%;
    text-align: center;
  }
}
@media screen and (min-width: 980px) {
  nav h2 {
    margin-bottom: 50px;
    font-size: 2em;
  }
}
nav ul {
  padding: 0;
}
@media screen and (min-width: 980px) {
  nav ul {
    display: flex;
  }
}
nav ul li {
  list-style-type: none;
  padding-left: 0;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 22px;
  margin-left: 8%;
  margin-right: 5%;
  border: 2px solid transparent;
  box-shadow: 0px 0px 6px 4px #efefef;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
}
nav ul li:hover {
  box-shadow: 0px 0px 8px 8px #efefef;
  background-color: #f9f9f9;
}
nav ul li:hover .fas {
  color: #9356dc;
}
@media all and (min-width: 630px) {
  nav ul li {
    justify-content: center;
  }
}
@media screen and (min-width: 980px) {
  nav ul li {
    margin: 0 auto;
    height: 250px;
    width: 300px;
    font-size: 1.5em;
  }
}
nav ul .nav__li--number {
  display: inline-flex;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: -0.92em;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 630px) {
  nav ul .nav__li--number {
    left: 50%;
    top: -0.92em;
  }
}
@media screen and (min-width: 980px) {
  nav ul .nav__li--number {
    height: 1.3em;
    width: 2em;
    left: 130px;
    top: -0.8em;
  }
}
@media screen and (min-width: 980px) {
  nav ul .nav__li--text {
    position: absolute;
    bottom: 50px;
  }
}
nav ul i {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 1em;
}
@media screen and (min-width: 980px) {
  nav ul i {
    font-size: 1.7em;
    position: absolute;
    top: 70px;
    height: 1.6em;
  }
}

/*Partie centrale*/
#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
}
@media all and (min-width: 730px) {
  #restaurants {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
#restaurants .title--restaurant {
  width: 90%;
  margin-top: 50px;
  font-size: 1.5em;
}
@media all and (min-width: 730px) {
  #restaurants .title--restaurant {
    width: 95%;
    text-align: center;
  }
}
@media all and (min-width: 980px) {
  #restaurants .title--restaurant {
    font-size: 2em;
  }
}

.card--restaurant {
  height: 250px;
  width: 90%;
  display: block;
  margin-bottom: 35px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 2px #ececec;
  text-decoration: none;
  color: inherit;
}
@media all and (min-width: 730px) {
  .card--restaurant {
    width: 45%;
    height: 300px;
  }
}
.card--restaurant figure {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card--restaurant figure img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card--restaurant figure figcaption {
  height: 30%;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card--restaurant figure figcaption .card--caption {
  margin-left: 12px;
  position: relative;
}
.card--restaurant figure figcaption h3 {
  margin: 0;
}
.card--restaurant figure figcaption p {
  margin-top: 5px;
  margin-bottom: 0;
}
.card--restaurant__new {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #99e2d0;
  color: #217460;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-heart {
  /*icone coeur qui se remplit*/
  margin-right: 25px;
  font-size: 1.8em;
  position: relative;
}
.icon-heart:hover .full-heart, .icon-heart:active .full-heart {
  transition: transform;
  transform: scale(1);
  animation: like 2.5s;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}
.icon-heart:hover .empty-heart, .icon-heart:active .empty-heart {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}
.icon-heart .full-heart {
  position: absolute;
  left: 0;
  right: 0;
  top: 1px;
  transform: scale(0);
  transform-origin: bottom;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  height: 195px;
  background-color: #353535;
  color: white;
  padding: 20px;
}
@media all and (min-width: 730px) {
  footer {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    height: 120px;
  }
}
footer h3 {
  font-family: "shrikhand";
  font-weight: 400;
}
@media all and (min-width: 730px) {
  footer h3 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5em;
  }
}
footer a {
  margin-top: 10px;
}
footer a .fa-utensils {
  margin-right: 15px;
}
footer a .fa-hands-helping {
  margin-right: 4px;
}

/*# sourceMappingURL=style_accueil.css.map */
