@import "variables.scss";
@import "mixin.scss";
@import "keyframes.scss";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  a {
    text-decoration: none;
    color: inherit;
  }
}
/*loader*/
/*container loader*/
.container-loader {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  top: 40%;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  animation: launching 6s forwards;
  z-index: 2;
  background-color: $background-color;
  text-align: center;
}

/*bloc image et logo du loader*/
.loader-top {
  font-size: 2em;
  font-family: "shrikhand";
  display: flex;
  @include center-item;
  margin-bottom: 50px;
}
/*Lettres*/
.title-letter {
  color: $color-letter-loader;
  display: inline-block;
  font-family: "shrikhand";
  animation: lettre 1s ease-in-out forwards;
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: 0s + $i;
    }
  }
}
/*image loader*/
.loader-img {
  height: 1.5em;
  margin-right: 30px;
  animation: rotation 1s 1s ease-in-out 3;
  vertical-align: middle;
}

/*loading...*/
.loader-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading {
  font-size: 1em;
  font-style: italic;
  color: $color-tertiary;
  max-width: 350px;
  position: relative;
}

.loading__point {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: $color-tertiary;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  transform: scale(0);
  animation: loading-point 0.2s forwards;
  animation-iteration-count: 1;
  @for $i from 1 through $loading-point {
    &--#{$i} {
      animation-delay: $anim-delay-loader * $i;
    }
  }
}
/*barre dessous*/
.border-bar {
  width: 350px;
  height: 20px;
  transform-origin: left;
  position: relative;
  left: 8%;
  &--loading {
    width: 20px;
    height: 3px;
    background-color: $color-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: right;
    animation: bar-loading 0.5s 0s ease-in alternate-reverse infinite;
    border-radius: 30%;
  }
}
/*Partie page accueuil qui servira de base de travail pour la mise en place des menus*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  @include logo-dimensions;
  z-index: 1;
  box-shadow: 0px 1px 3px 2px #cecece;
  @media screen and(min-width:980Px) {
    height: 100px;
  }
  img {
    @include logo-img-dimensions;
  }
}

.localisation {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eaeaea;
  z-index: 0;
  display: flex;
  @include center-item;
  @media screen and(min-width:980Px) {
    height: 75px;
  }

  input {
    outline: none;
    background-color: #eaeaea;
    border: none;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    @media screen and(min-width:980Px) {
      font-size: 1.3em;
    }
    &:focus {
      border: 1px solid $color-letter-loader;
      border-radius: 5px;
    }
    i {
      margin-right: 16px;
    }
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 237px;
  text-align: center;
  background-color: $background-color;
  padding-top: 30px;
  padding-bottom: 40px;

  h1 {
    width: 61%;
    font-size: 1.3em;
    @media all and(min-width:630px) {
      font-size: 1.5em;
    }
    @media screen and(min-width:980Px) {
      font-size: 2em;
    }
  }
  h3 {
    margin-top: 0;
    width: 81%;
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 30px;
    @media all and(min-width:630px) {
      font-size: 1.2em;
    }
    @media screen and(min-width:980Px) {
      font-size: 1.3em;
    }
  }
}
.btn {
  @include button;
  &:hover {
    @include hover-button;
  }
  @media screen and(min-width: 630px) {
    max-width: 300px;
  }
  @media screen and(min-width:980Px) {
    max-width: 350px;
  }
}
nav {
  width: 100%;
  height: 440px;

  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 5%;
    @media all and(min-width:730px) {
      margin-left: 2.5%;
      text-align: center;
    }
    @media screen and(min-width:980px) {
      margin-bottom: 50px;
      font-size: 2em;
    }
  }
  ul {
    padding: 0;
    @media screen and(min-width:980px) {
      display: flex;
    }
    li {
      list-style-type: none;
      padding-left: 0;
      height: 75px;
      display: flex;
      align-items: center;
      background-color: $background-color;
      margin-bottom: 22px;
      margin-left: 8%;
      margin-right: 5%;
      border: 2px solid transparent;
      box-shadow: 0px 0px 6px 4px #efefef;
      border-radius: 35px;
      position: relative;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 8px 8px #efefef;
        background-color: $background-li;
        .fas {
          color: $color-primary;
        }
      }
      @media all and(min-width:630px) {
        justify-content: center;
      }
      @media screen and(min-width:980px) {
        margin: 0 auto;
        height: 250px;
        width: 300px;
        font-size: 1.5em;
      }
    }
    .nav__li--number {
      display: inline-flex;
      width: 25px;
      height: 25px;
      background-color: $color-primary;
      border-radius: 50%;
      color: white;
      position: absolute;
      left: -0.92em;
      @include center-item;
      @media all and(min-width:630px) {
        left: 50%;
        top: -0.92em;
      }
      @media screen and(min-width:980px) {
        height: 1.3em;
        width: 2em;
        left: 130px;
        top: -0.8em;
      }
    }
    .nav__li--text {
      @media screen and(min-width:980px) {
        position: absolute;
        bottom: 50px;
      }
    }
    i {
      margin-left: 30px;
      margin-right: 20px;
      font-size: 1em;
      @media screen and(min-width:980px) {
        font-size: 1.7em;
        position: absolute;
        top: 70px;
        height: 1.6em;
      }
    }
  }
}
/*Partie centrale*/

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  width: 100%;
  @media all and(min-width:730px) {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .title--restaurant {
    width: 90%;
    margin-top: 50px;
    font-size: 1.5em;
    @media all and(min-width:730px) {
      width: 95%;
      text-align: center;
    }
    @media all and(min-width:980px) {
      font-size: 2em;
    }
  }
}

.card--restaurant {
  height: 250px;
  width: 90%;
  display: block;
  margin-bottom: 35px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 2px #ececec;
  text-decoration: none;
  color: inherit;

  @media all and(min-width:730px) {
    width: 45%;
    height: 300px;
  }
  figure {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    img {
      height: 70%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    figcaption {
      @include figcaption-rules;
      .caption {
        margin-left: 12px;
        position: relative;
      }
      h3 {
        margin: 0;
      }
      p {
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
  &__new {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 45);
    display: flex;
    @include center-item;
  }
}
.icon-heart {
  margin-right: 25px;
  font-size: 1.8em;
  position: relative;
  &:hover,
  &:active {
    .full-heart {
      @include heart-background-coloration;
    }
    .empty-heart {
      color: $color-primary;
    }
  }
  .full-heart {
    @include heart-background;
  }
}
/*Footer*/
footer {
  @include footer;
  h3 {
    font-family: "shrikhand";
    font-weight: 400;
    @media all and(min-width:730px) {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
      text-align: center;
      font-size: 1.5em;
    }
  }
  a {
    margin-top: 10px;
    .fa-utensils {
      margin-right: 15px;
    }
    .fa-hands-helping {
      margin-right: 4px;
    }
  }
}

/*Partie menu*/

/*header*/
/*dimensions logo et bouton retour pour chaque menu*/
.logo--menu {
  @include logo-dimensions;
  position: relative;
  .back-btn {
    position: absolute;
    left: 23px;
    @media screen and(min-width:980px) {
      font-size: 1.5em;
    }
  }
  img {
    @include logo-img-dimensions;
  }
}
.menu--img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  @media screen and(min-width:530px) {
    height: 280px;
  }
  @media screen and(min-width:720px) {
    height: 300px;
  }
  @media screen and(min-width:980px) {
    height: 350px;
  }
}

/*Partie centrale*/
/*Style du bloc global*/
main {
  background-color: $background-color;
  border-radius: 55px 55px 0px 0px;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:980px) {
    border-radius: 0;
    margin-top: 0;
  }

  h3,
  p {
    font-size: 1em;
    @media screen and(min-width:980px) {
      font-size: 1.3em;
    }
  }
}
/*Intitulé de la carte*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-left: 10px;
  .title-menu {
    font-family: "shrikhand";
    font-size: 1.8em;
    @media screen and(min-width:980px) {
      font-size: 2.4em;
    }
  }
  .icon-heart {
    font-size: 1.4em;
    @media screen and(min-width:980px) {
      font-size: 1.8em;
    }
  }
}
/*Catégories entrées-plats-desserts*/
section {
  width: 95%;
  h2 {
    margin-left: 10px;
    margin-top: 35px;
    font-size: 1em;
    @media screen and(min-width: 980px) {
      font-size: 1.5em;
    }
  }
}

.underline-bar {
  margin-bottom: 25px;
  margin-left: 10px;
  width: 40px;
  height: 2px;
  background-color: $color-tertiary;
}

.item-delay {
  opacity: 0;
  animation: apparition 1.8s forwards;
  @for $i from 1 through $item-apparition-number {
    &--#{$i} {
      animation-delay: 0.3s * $i;
    }
  }
}
/*composition des plats*/
.menu-statement {
  width: 100%;
  height: 90px;
  display: flex;
  margin-bottom: 18px;
  background-color: #fff;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px #eaeaea;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  &:hover > .dash-slide {
    animation: dash-validation 0.6s ease-in-out forwards;
    .dash-slide--animation--circle {
      @include circle-animation;
    }
  }
  @media screen and(min-width:530px) {
    &:hover > .dash-slide {
      animation: dash-validation-530 0.6s ease-in-out forwards;
      .dash-slide--animation--circle {
        @include circle-animation;
      }
    }
  }
  @media screen and(min-width:720px) {
    &:hover > .dash-slide {
      animation: dash-validation-720 0.6s ease-in-out forwards;
      .dash-slide--animation--circle {
        @include circle-animation;
      }
    }
  }
  @media screen and(min-width:980px) {
    &:hover > .dash-slide {
      animation: dash-validation-980 0.6s ease-in-out forwards;
      .dash-slide--animation--circle {
        @include circle-animation;
      }
    }
  }

  .dash {
    display: flex;
    flex-direction: column;
    width: calc(100% - 135px);
    padding-left: 15px;
    @media screen and(min-width:530px) {
      width: calc(100% - 160px);
    }
    @media screen and(min-width:720px) {
      width: calc(100% - 200px);
    }
    @media screen and(min-width:980Px) {
      width: calc(100% - 280px);
    }
  }
  h3 {
    margin-bottom: 0;
    margin-right: -30px;
    @include ellipsis;
  }
  p {
    @include ellipsis;
    margin-right: -30px;
  }
}
.dash-slide {
  display: flex;
  width: 120px;
  height: 100%;
  transform: translateX(60px);
  overflow: hidden;
  @media screen and(min-width:530px) {
    width: 160px;
    transform: translateX(80px);
  }
  @media screen and(min-width:720px) {
    width: 200px;
    transform: translateX(100px);
  }
  @media screen and(min-width:980Px) {
    width: 280px;
    transform: translateX(60%);
  }
}
.dash-price {
  width: 50%;
  height: 100%;
  margin-top: 55px;
  font-weight: bold;
  @media screen and(min-width:530px) {
    text-align: center;
  }
}
.dash-slide--animation {
  height: 100%;
  width: 50%;
  display: flex;
  @include center-item;
  background-color: $color-tertiary;
  border-radius: 0px 20px 20px 0px;
}
.fa-check-circle {
  height: 1.1em;
  color: white;
}
/*bouton commander*/
.btn--command {
  margin-top: 50px;
  margin-bottom: 65px;
}

/*LOADER*/
